

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Muestra tablero</title>
</head>
<body style="font-family: monospace; text-align: center; display: flex; flex-direction: row;
        flex-wrap: wrap; justify-content: center">

    <div style="width: 100%">
        Filas: {{ filas }} <br>
        Columnas: {{ columnas }} <br>
        Minas: {{ minas }} <br>
    </div>

    <table style="background-color: darkgray; width: 40%">
        {% for fila in tablero.casillas %}
            <tr style="height: 30px;">
                {% for casilla in fila %}
                    <td style="width: 25px; border: 3px solid black; background-color: darkgray; border-bottom-color: dimgray;
                    border-right-color: dimgrey; border-top-color: aliceblue; border-left-color:  aliceblue; text-align: center;
                    color: red;
                    font-weight: bold">
                        {% if casilla.isMina %}
                            💣
                        {% elif casilla.adyacentes != 0 %}
                            {{ casilla.adyacentes }}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</body>
</html>